@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--title-color);
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--bg-color-accent);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}

article > p {
  margin-bottom: 1rem;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

:root {
  --text-color: #0f172a;
  --title-color: #0f172a;
  --inactive-color: #000;
  --accent-color: #0ea5e9;
  --bg-color: #f1f5f9;
  --bg-color-accent: #cbd5e1;
}

:root.dark {
  --text-color: #f8fafc;
  --title-color: #f8fafc;
  --inactive-color: #fff;
  --accent-color: #f59e0b;
  --bg-color: #1e293b;
  --bg-color-accent: #334155;
}

   .post-preview__desc {
    @apply text-base leading-6;
  } 