---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import type { Frontmatter } from "@types";
const posts = await Astro.glob<Frontmatter>("/content/blog/*.md");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main class="flex flex-col gap-8">
      <section>
        <h1>🧑‍🚀 Hi, I'm Dimas!</h1>
        <p>
          I formerly work as a Mechanical Engineer for 5 years. I took a leap of
          faith to taught myself about software development from various online
          sources and landed my first job as a <mark class=""
            >Backend Engineer</mark
          >. I believe in online learning. Mostly write my code in Golang and
          Typescript.
        </p>
      </section>

      <section>
        <h2>Recent Posts</h2>
        <BlogPostPreview posts={posts} />
      </section>
    </main>
    <Footer />
    <style>
      mark {
        background-color: #e5c890;
      }
      h2 {
        @apply text-2xl;
      }

      section > h2 {
        @apply py-2;
      }
    </style>
  </body>
</html>
