---
import type { MarkdownInstance } from "astro";
import PostPreview from "./PostPreview.astro";

export interface Props {
  posts: MarkdownInstance<Record<string, any>>[];
}

const { posts } = Astro.props;
const sortedPosts: Record<string, any>[] = posts.sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.published_at).valueOf() -
    new Date(a.frontmatter.published_at).valueOf()
);
let threeLastPosts = sortedPosts.slice(0, 3);
---

<section class="flex flex-col gap-3">
  {threeLastPosts.map((post) => <PostPreview post={post} />)}
  <a href="/blog" class="font-semibold">See all posts</a>
</section>

<style>
  .title {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--title-color);
  }

  a {
    color: var(--accent-color)
  }

  a:hover {
    text-decoration: underline;
  }

</style>
